html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #FF0000;
}
h2{
   background: -webkit-linear-gradient(orange,red);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background: -moz-linear-gradient(orange,red);
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   background: -o-linear-gradient(orange,red);
   -o-background-clip: text;
   -o-text-fill-color: transparent;
   background: -ms-linear-gradient(orange,red);
   -ms-background-clip: text;
   -ms-text-fill-color: transparent;
   
}
.auto{
  height: 500px;
  width: 400px;
  position: absolute;
  left: 30%;
  background-color: #FFFFFF;

}
.auto h2{
  padding-left: 32%;
}
.roboBtn{
   padding-left: 36%;
}
.auto input[type=text]{
  height: 50px;
  background-color: #ECEFF1;
}
.auto #toteAuto{
    position: absolute;
    left: 29%;
    top: 25%;
}   
.auto #conAuto{
    position: absolute;
    left: 29%;
    top: 40%;     
}   
.auto #toteStack{
    position: absolute;
    left: 29%;
    top: 55%;
    
}
.auto #conCen{
    position: absolute;
    left: 29%;
    top: 70%;
    
}
.tele{
  height: 600px;
  width: 400px;
  position: absolute;
  left: 30%;
  top: 90%;
  background-color: #FFFFFF;
}
.can{
  height: 400px;
  width: 70px;
  position: absolute;
  top: 17.9%;
  left: 60%;
  background-color: #FFFFFF;  
}
.tele h2{
  padding-left: 40%;
}
.left{
  padding-left: 20%; 
}
.right{
  padding-left: 80%;
}
.left-nood{
  padding-left: 18.5%;
} 
.tote{
  padding-top: 10%;
}
.space{
  padding-bottom: 57%;
}
button{
   background-image: -moz-linear-gradient(top,orange,red);
   background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
   background-image: -webkit-linear-gradient(top,orange,red);
   background-image: -o-linear-gradient(top,orange,red);
   background-image: linear-gradient(to bottom,orange,red); 
}  
#sub{
   position: absolute;
   left: 42%;
   top: 90%;
}
  
.coopEnd{
  height: 350px;
  width: 400px;
  position: absolute;
  left: 30%;
  top: 193%;
  background-color: #FFFFFF;
} 
.coopEnd #titleHead{
  padding-left: 26%; 
}
.coop{
   padding-left: 4%;
   display: inline;
}  
.coopEnd #notes{
   padding-left: 25%;
   padding-top: 20%;
}
.coopEnd #trouble{
    padding-top: 10%;
    padding-left: 33%;
}
.coopEnd .holder{
    padding-top: 5%;
    padding-left: 22%;
}
#qrcode{
  height: 350px;
  width: 400px;
  position: absolute;
  left: 30%;
  top: 250%;
  background-color: #FFFFFF;
} 
::-webkit-input-placeholder { /* WebKit browsers */
    background: -webkit-linear-gradient(orange,red);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   background: -moz-linear-gradient(orange,red);
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   background: -o-linear-gradient(orange,red);
   -o-background-clip: text;
   -o-text-fill-color: transparent;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   background: -ms-linear-gradient(orange,red);
   -ms-background-clip: text;
   -ms-text-fill-color: transparent;
}
